<div class="dashboard_item_holder">
    <div class="create" onclick="window.location='/all/candidate/'" >   
      <span>All Candidates</span>
      <span style="color: darkgray;">{{ all }}</span>
    </div>
    <div class="pending">
      <span>Pending Candidates</span>
      <span style="color: lightcoral;font-size: x-large;">{{ pending }}</span>
    </div>
    <div class="approved">
      <span>Approved Candidates</span>
      <span style="color: darkseagreen;font-size: x-large;">{{ approved }}</span>
    </div>
</div>