
<div class="form_container">
    <div class="form_header">
        <h3>Candidate Creation Form</h3>
    </div>
    <form action="{% url 'onboarding:create_candidate' %}" method="post">
        {% csrf_token %}
        <div class="input__row">
            <div class="input__div">
                <input class="form__input" type="text" name="firstname" id="firstname" maxlength="50"
                       placeholder=" " autofocus tabindex="1" required>
                <label for="firstname" class="form__label">First Name</label>
            </div>
            <div class="input__div">
                <input class="form__input" type="text" name="middlename" id="middlename" maxlength="10"
                       placeholder=" "  tabindex="2">
                <label for="middlename" class="form__label">Middle Name</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <input class="form__input" type="text" name="lastname" id="lastname" maxlength="10"
                       placeholder=" "  tabindex="3">
                <label for="lastname" class="form__label">Last Name</label>
            </div>
            <div class="input__div">
                <input class="form__input" type="date" name="dob" id="dob"
                       placeholder=" " tabindex="4" required>
                <label for="dob" class="form__label">Date of Birth</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <input class="form__input" type="text" name="phone" id="phone" maxlength="10"
                       placeholder=" " pattern="^[6-9]{1}[0-9]{9}$"  tabindex="5" required>
                <label for="phone" class="form__label">Phone</label>
            </div>
            <div class="input__div">
                <input class="form__input" type="text" name="adhaar" id="adhaar" maxlength="12"
                       placeholder=" "  tabindex="6" pattern="^[0-9]{12}$" required>
                <label for="adhaar" class="form__label">Adhaar</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <input class="form__input" type="date" name="doj" id="doj"
                       placeholder=" " tabindex="7" disabled>
                <label for="doj" class="form__label">Date of Joining</label>
            </div>
            <div class="input__div">
                <select class="form__input" tabindex="8" required name="function" id="function">
                    <option value=""></option>
                    {% for each in function %}
                        <option value="{{ each.pk }}" id="{{ each.pk }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="function" class="form__label">Function</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <select class="form__input" tabindex="9" required name="subfunction" id="subfunction">
                    <option value=""></option>
                    {% for each in subfunction %}
                        <option value="{{ each.pk }}" id="{{ each.fk_function_id }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="subfunction" class="form__label">Sub Function</label>
            </div>
            <div class="input__div">
                <select class="form__input" tabindex="10" required name="designation" id="designation">
                    <option value=""></option>
                    {% for each in designation %}
                        <option value="{{ each.pk }}" id="{{ each.fk_sub_function_id }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="designation" class="form__label">Designation</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <select class="form__input" tabindex="11" required name="state" id="state">
                    <option value=""></option>
                    {% for each in state %}
                        <option value="{{ each.pk }}" id="{{ each.pk }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="state" class="form__label">State</label>
            </div>
            <div class="input__div">
                <select class="form__input" tabindex="12" required name="location" id="location">
                    <option value=""></option>
                    {% for each in location %}
                        <option value="{{ each.pk }}" id="{{ each.fk_location_id }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="location" class="form__label">Location</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <select class="form__input" tabindex="13" required name="sublocation" id="sublocation">
                    <option value=""></option>
                    {% for each in sublocation %}
                        <option value="{{ each.pk }}" id="{{ each.fk_location_id }}">{{ each.name }}</option>
                    {% endfor %}
                </select>
                <label for="sublocation" class="form__label">Sub Location</label>
            </div>
            <div class="input__div">
                <select class="form__input" tabindex="14" required name="recuiter" id="recuiter">
                    <option value=""></option>
                    {% for each in recruiters %}
                        <option value="{{ each.user_id }}">{{ each.user_id }} | {{ each.first_name }} {{ each.last_name }}</option>
                    {% endfor %}
                </select>
                <label for="recuiter" class="form__label">Recruiter</label>
            </div>
        </div>
        <div class="input__row">
            <div class="input__div">
                <select class="form__input" tabindex="15" required name="obspoc" id="obspoc">
                    <option value=""></option>
                    {% for each in obspocs %}
                        <option value="{{ each.user_id }}">{{ each.user_id }} | {{ each.first_name }} {{ each.last_name }}</option>
                    {% endfor %}
                </select>
                <label for="obspoc" class="form__label">Onboarding SPOC</label>
            </div>
            <div class="input__div">
                <input type="text" id="status" tabindex="16" name="status" readonly value="Pending" class="form__input" placeholder=" ">
                <label for="status" class="form__label">Status</label>
            </div>
        </div>
        <div class="save_btn_div">
            <button type="submit" class="save_btn">Submit Candidate</button>
            <button type="button" class="cancel_btn">Cancel</button>
        </div>
    </form>
</div>