<div class="dashboard_item_holder">
    <div class="create" onclick="window.location='/create/candidate/'">   
      <span>Create Candidate</span>
      <span><a href="/all/candidate/">View All</a></span>
    </div>
    <div class="pending">
      <span>Pending Candidate</span>
      <span style="color: lightcoral;font-size: x-large;">{{ pending }}</span>
    </div>
    <div class="approved">
      <span>Approved Candidate</span>
      <span style="color: darkseagreen;font-size: x-large;">{{ approved }}</span>
    </div>
</div>